# used in tandem with package.json engines section to only use yarn
engine-strict=true

legacy-peer-deps=true
node-linker=hoisted
network-timeout=100000
strict-peer-dependencies=false
auto-install-peers=true
